
@{
    ViewBag.Title = "Arcade";
}
<div class="nav iconbg">
    <div class="nav iconbg">
        <ul class="nav-tabs nav-tabs-bordered d-flex navbuttons" id="borderedTabJustified" role="tablist"
            style="border-bottom:none;">
            <li class="nav-item flex-fill" role="presentation">
                <a class="nav-link w-45 " id="home-tab" role="tab" aria-controls="home"
                   aria-selected="true" href="~/Home/Index">
                    <img src="~/Content/assets/img/Dashboard/Home.png" alt="">

                </a>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <a class="nav-link w-45" id="Slot-tab" role="tab" aria-controls="home"
                   aria-selected="true" href="~/Gamelist/Slot">
                    <img src="~/Content/assets/img/Dashboard/Slotmachine.png" alt="">
                </a>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <a class="nav-link w-45" id="Card-tab" role="tab" aria-controls="home"
                   aria-selected="true" href="~/Gamelist/Card">
                    <img src="~/Content/assets/img/Dashboard/CARDs.png" alt="">
                </a>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <a class="nav-link w-45" id="Crown-tab" role="tab" aria-controls="home"
                   aria-selected="true" href="~/Gamelist/Crown">
                    <img src="~/Content/assets/img/Dashboard/Crown.png" alt="">
                </a>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <a class="nav-link w-45" id="Fish-tab" role="tab" aria-controls="home"
                   aria-selected="true" href="~/Gamelist/Fish">
                    <img src="~/Content/assets/img/Dashboard/Fish.png" alt="">
                </a>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <a class="nav-link w-45" id="Ball-tab" role="tab" aria-controls="home"
                   aria-selected="true" href="~/Gamelist/Ball">
                    <img src="~/Content/assets/img/Dashboard/Ball.png" alt="">
                </a>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <a class="nav-link w-45" id="Cock-tab" role="tab" aria-controls="home"
                   aria-selected="true" href="~/Gamelist/Cockfight">
                    <img src="~/Content/assets/img/Dashboard/weather-cock.png" alt="">
                </a>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <a class="nav-link w-45 active" id="Arcade-tab" role="tab" aria-controls="home"
                   aria-selected="true" href="~/Gamelist/Arcade">
                    <img src="~/Content/assets/img/Dashboard/Arcade.png" alt="">

                </a>
            </li>
        </ul>
    </div>
    </div>
<div class="row">
    <h2>Arcade</h2>
    </div>

