<div ng-controller="liveCtrlr">



    <div class="nav iconbg">
        <ul class="nav-tabs nav-tabs-bordered d-flex navbuttons" id="borderedTabJustified" role="tablist"
            style="border-bottom:none;">
            <li class="nav-item flex-fill" role="presentation">
                <a class="nav-link w-45" id="home-tab" role="tab" aria-controls="home" aria-selected="true"
                   href="~/Home/Index">
                    <img src="~/Content/assets/img/Dashboard/Home.png" alt="">

                </a>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <a class="nav-link w-45" id="Slot-tab" role="tab" aria-controls="home" aria-selected="true"
                   href="~/Gamelist/Slot">
                    <img src="~/Content/assets/img/Dashboard/Slotmachine.png" alt="">
                </a>
            </li>

            <li class="nav-item flex-fill" role="presentation">
                <a class="nav-link w-45" id="Poker-tab" role="tab" aria-controls="home"
                   aria-selected="true" href="~/Gamelist/Poker">
                    <img src="~/Content/assets/img/Dashboard/Poker.png" alt="">
                </a>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <a class="nav-link w-45 active" id="Live-tab" role="tab" aria-controls="home"
                   aria-selected="true" href="~/Gamelist/Live">
                    <img src="~/Content/assets/img/Dashboard/Live_name.png" alt="">
                </a>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <a class="nav-link w-45" id="Fish-tab" role="tab" aria-controls="home"
                   aria-selected="true" href="~/Gamelist/Fish">
                    <img src="~/Content/assets/img/Dashboard/Fish.png" alt="">
                </a>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <a class="nav-link w-45" id="Sports-tab" role="tab" aria-controls="home"
                   aria-selected="true" href="~/Gamelist/Sports">
                    <img src="~/Content/assets/img/Dashboard/Sports.png" alt="">
                </a>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <a class="nav-link w-45" id="Cock-tab" role="tab" aria-controls="home" aria-selected="true"
                   href="~/Gamelist/Cockfight">
                    <img src="~/Content/assets/img/Dashboard/e_sabong.png" alt="">
                </a>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <a class="nav-link w-45" id="MiniGames-tab" role="tab" aria-controls="home" aria-selected="true"
                   href="~/Gamelist/MiniGames">
                    <img src="~/Content/assets/img/Dashboard/MiniGames.png" alt="">

                </a>
            </li>
        </ul>
    </div>
    <div class="nav scroller" style="background: transparent;">
        <!-- Bordered Tabs Justified -->
        <ul class=" navbars nav-tabs nav-tabs-bordered d-flex navbuttons scroller " id="trialni" role="tablist"
            style="padding-top:30px;">
            @* <li class="nav-item flex-fill" role="presentation">
                <a class=" w-5" id="JL" role="tab" aria-controls="home" aria-selected="true">
                    <img src="~/Content/assets/img/icons/icon_jili.png" style="width: 50px; cursor:pointer">
                </a>
            </li> *@
             <li class="nav-item flex-fill" role="presentation">
                <a class="w-5" id="EVOLIVE" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">
                <img src="~/Content/assets/img/icons/icon_evo.png" style="width: 80px; cursor:pointer"></a>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                <a class="w-5" id="WIFY" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">
                <img src="~/Content/assets/img/icons/icon_winfinity.png" style="width: 100px; cursor:pointer"></a>
                </li>
            @* <li class="nav-item flex-fill" role="presentation">
                <a class="w-5" id="PP" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">
                <img src="~/Content/assets/img/icons/icon_pragmatic.png" style="width: 50px; cursor:pointer"></a>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                <a class="w-5" id="FC" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">
                <img src="~/Content/assets/img/icons/icon_fachai.png" style="width: 50px; cursor:pointer"></a>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                <a class="w-5" id="PGS" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">
                <img src="~/Content/assets/img/icons/icon_pgsoft.png" style="width: 50px; cursor:pointer"></a>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                <a class="w-5" id="CQ9" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">
                <img src="~/Content/assets/img/icons/icon_cq9.png" style="width: 50px; cursor:pointer"></a>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                <a class="w-5" id="SPNX" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">
                <img src="~/Content/assets/img/icons/icon_spinix.png" style="width: 50px; cursor:pointer"></a>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                <a class="w-5" id="JDB" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">
                <img src="~/Content/assets/img/icons/icon_jdb.png" style="width: 50px; cursor:pointer"></a>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                <a class="w-5" id="SPDG" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">
                <img src="~/Content/assets/img/icons/icon_spadegamming.png" style="width: 50px; cursor:pointer"></a>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                <a class="w-5" id="EVONTT" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">
                <img src="~/Content/assets/img/icons/icon_netent.png" style="width: 80px; cursor:pointer"></a>
                </li>
               
                <li class="nav-item flex-fill" role="presentation">
                <a class="w-5" id="HB" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">
                <img src="~/Content/assets/img/icons/icon_hanabero.png" style="width: 80px; cursor:pointer"></a>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                <a class="w-5" id="ALG" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">
                <img src="~/Content/assets/img/icons/icon_alize.png" style="width: 80px; cursor:pointer"></a>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                <a class="w-5" id="EVOP" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">
                <img src="~/Content/assets/img/icons/icon_evo.png" style="width: 80px; cursor:pointer"></a>
                </li>
                
                <li class="nav-item flex-fill" role="presentation">
                <a class="w-5" id="EVOBTG" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">
                <img src="~/Content/assets/img/icons/icon_evo.png" style="width: 80px; cursor:pointer"></a>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                <a class="w-5" id="EVONLC" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">
                <img src="~/Content/assets/img/icons/icon_evo.png" style="width: 80px; cursor:pointer"></a>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                <a class="w-5" id="EVORT" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">
                <img src="~/Content/assets/img/icons/icon_evo.png" style="width: 80px; cursor:pointer"></a>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                <a class="w-5" id="PNG" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">
                <img src="~/Content/assets/img/icons/icon_playngo.png" style="width: 80px; cursor:pointer"></a>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                <a class="w-5" id="YBNGO" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">
                <img src="~/Content/assets/img/icons/icon_yellowbat.png" style="width: 80px; cursor:pointer"></a>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                <a class="w-5" id="ILU" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">
                <img src="~/Content/assets/img/icons/icon_iloveu.png" style="width: 80px; cursor:pointer"></a>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                <a class="w-5" id="AP" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">
                <img src="~/Content/assets/img/icons/icon_advantplay.png" style="width: 80px; cursor:pointer"></a>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                <a class="w-5" id="YB" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">
                <img src="~/Content/assets/img/icons/icon_yeebet.png" style="width: 60px; cursor:pointer"></a>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                <a class="w-5" id="HSD" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">
                <img src="~/Content/assets/img/icons/icon_hacksaw.png" style="width: 80px; cursor:pointer"></a>
                </li> *@
        </ul>
    </div>
    <div class="loaderStyle" ng-show="showLoader">
        <div class="loader"></div>
    </div>

    <div class="row col-12 rowalign limitheight" style="overflow-y: auto; overflow-x:hidden; justify-content:center;" ng-show="showGames">
        <div class="col-12" style="text-align:-webkit-right">
            <div class="searchform">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword" ng-model="searched">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>

            </div>
        </div>

        <div class="col-1 responsiveimg" ng-repeat="x in Gamelist | limitTo :limit | filter:searched">


            <div class="card " style="width: fit-content; background:transparent;">
                <button class=" form-control rowbuttonalign" type="button" ng-click="getdata(x)"
                        style="background-color: transparent; border:none; align-self:flex-start">
                    <img src="{{x.gameCover}}" class="img-size" ng-model="x" alt="">
                    <label class="form-control-plaintext bttntext">{{x.gameName}}</label>
                </button>
            </div>
        </div>
    </div>

    <div class="row" style="display: flex; justify-content: center;">

        <button type="button" ng-click="viewmore()"
            style="height: 50px;width: 50px;text-align: center;background: transparent;color: white;border-radius: 50%;background-color: transparent;border: none;font-size: 45px;">...</button>


    </div>
</div><!-
@section scripts {
    <script src="~/Scripts/AngularJs/Gamelist/liveCtrl.js"></script>
}
